* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #FAFAF8;
}

.header-container {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: #3c3939;
  color: #191b03;
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  position: relative;
}

.header-container h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-shrink: 0;
}

.header-container nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  margin-left: auto;
}

.header-container nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.search-bar {
  margin-left: 20px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}
